{% extends 'base.html' %}
{% block title %}

WanderLust - Home Page

{% endblock title %}
{% block content %}


<!-- <center><h1>Hellow World</h1></center> -->
        
      
<div class="row">
    <div class="col-12">
      <div class="swiper sliderFeaturedPosts">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
          <div class="img-bg d-flex align-items-end ">
            
              <div class="img-bg-inner">
                <h1 class="text-white">Welcome to WanderLust News Blog</h1>
                <p>Your premier source for all the latest news in Politics, Technology, Pop-culture, Sports, Entertainment, Business and Insights from around the globe! 
                   At WanderLust, we're dedicated to keeping you informed and inspired as you navigate the ever-changing World of Breaking news. Sign Up to see all the latest news.
                </p> <a href="{% url 'register' %}" class="advertise-travel">Sign Up</a>
              </div>
          
          </div>
            </div>

            <div class="swiper-slide">
              <div class="img-bg d-flex align-items-end ">
                
                  <div class="img-bg-inner">
                    <h1 class="text-white">You Have a blog you want to Post?</h1>
                    <p> Sign up, create your profile and post your blog today.

                    </p> <a href="{% url 'register' %}" class="advertise-travel">Get Started</a>
                  </div>
              
              </div>
          </div>






            <div class="swiper-slide">
                <div class="img-bg d-flex align-items-end ">
                  
                    <div class="img-bg-inner">
                      <h1 class="text-white">Breaking News</h1>
                      <p>Stay up-to-date with the latest developments in the world right now.
                         From business updates and travel advisories to destination reopenings and border regulations, we bring you timely and reliable information to help you plan your journeys with confidence.
                      </p> <a href="{% url 'login' %}" class="advertise-travel">Explore</a>
                     
                    </div>
                
                </div>
                  </div>



                <div class="swiper-slide">
                    <div class="img-bg d-flex align-items-end ">
                      
                        <div class="img-bg-inner">
                          <h1 class="text-white">Advertise Your New Business Here</h1>
                          <p>Are you a travel agency, hotel, airline, restaurant or any other business looking to reach a targeted audience of enthusiasts? 
                             WanderLust offers advertising opportunities to showcase your brand and attract potential customers who are eager to explore the world.
                             get started and Post your business's blog.

                          </p> <a href="{% url 'create' %}" class="advertise-travel">Get Started</a>
                        </div>
                    
                    </div>
                </div>






                    <div class="swiper-slide">
                        <div class="img-bg d-flex align-items-end ">
                          
                            <div class="img-bg-inner">

                              <h1 class="text-white">Expert Opinions and Advice</h1>
                              <p>Tap into the expertise of Business owners, industry professionals, and Brand influencers with our exclusive interviews, opinion pieces, and travel advice columns
                                 . Whether you're seeking packing tips, budget-friendly travel hacks, or insider recommendations, our experts have you covered.
                              </p> <a href="" class="advertise-travel">Read more</a>

                            </div>
                        </div>
                             
                        
                         
                    </div>











          
        </div>
        
      

       
      </div>
    </div>
     </div>
</div>









        
  
           


{% endblock content %}
{% block body %}
{% load static %}
            <!-- ======= Post Grid Section ======= -->
            
                  <section id="posts" class="posts">
                      <div class="container" data-aos="fade-up">
                        <div class="row g-5">

                          <div class="  align-items-center mb-5">
                            <br><br>
                            <h2 class="title-left text-white ">
                          
                              {{category.category_title}}
                            
                            </h2>
                              
                            </div>
                          {% for post in posts %}

                              <div class="col-lg-4">
                                

                                  <div class="post-entry-1 lg">
                                  <a href="{% url 'detail' post.slug %}">
                                    <img src="{{post.image.url}}" alt="" class="img-fluid">
                                    <div class="post-meta"> <span class="date">{{post.category}}</span> <span class="mx-1">&bullet;</span> <span>{{post.date_created}}</span></div>
                                    <h2>{{post.title}} </h2>
                                    <p class="mb-4 d-block">{{post.body|safe|truncatechars:150}}</p>
                      
                                    
                                    </div> 
                                  </a>
                                  <div class="d-flex align-items-center author">
                                  
                                        <div class="photo"> <big class="text-white">Author |</big>  <a href="{% url 'profile' post.author.profile_id %}"><img src="{{post.author.user_picture.url}}" alt="" class="img-fluid"></a></div>
                                      
                                    <div class="name">
                                      <a href="{% url 'profile' post.author.profile_id %}"><h3 class="m-0 p-0">{{post.author.name}}</h3></a>
                                    </div>
                                  </div>

                              
                    
                              </div>

                          {% endfor %}
                          
                          
                        </div> <!-- End .row -->
                      </div>
                  </section> <!-- End Post Grid Section -->



{% endblock body %}