{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}

 WanderLust - Upload Your Blog

{% endblock title %}

{% block content %}



                
           

             <br>
        

                
         <main class="container-1" >  
            <div class="row">
                <div class="col-sm-3">
                </div> 
                        <div class="col-sm-6">  <br><br> 
                            
                           
                            
                       
                               

                                <form method="POST"  enctype="multipart/form-data" class=" f-1 text-white">  {%  csrf_token %}
                                       
                                    <div class="alert alert-danger" role="alert" style="background-color: #ED2839;border-color: #ED2839; color: #000000;">
                                        <strong>Are you sure you want to delete your WanderLust account?</strong>
                                      </div>

                                
                                      <center><input type="submit" value="Yes" class="delete-btn-btn" style="width: 120px;"> </center>
                                      <center><a href="{% url 'user_account'  %}" class="cancel">No</a></center>


                        
                                <br><br>
                        </div> 
            </div>  
        </main>  
           
        <script>
            let inputfields = document.getElementsByTagName('input')
            let bodyField = document.getElementById('id_body')
            let selectField = document.getElementById('id_category')
            for (let i=0; i<inputfields.length; i++){
                inputfields[i].classList.add('form-control')
            }
            bodyField.classList.add('form-control')
            selectField.classList.add('form-select')




    //         document.addEventListener('DOMContentLoaded', function () {
    //     // Get all the alert messages with the 'alert-dismissible' class
    //     var alertMessages = document.querySelectorAll('.alert-dismissible');

    //     // Loop through each alert message
    //     alertMessages.forEach(function (alert) {
    //         // Set timeout to close the alert after 5 seconds
    //         setTimeout(function () {
    //             alert.remove(); // Remove the alert message from the DOM
    //         }, 5000); // 5000 milliseconds = 5 seconds
    //     });
    // });
        </script>



{% endblock  %}


